/*
#231942 #5E548E #9F86C0 #BE95C4 #E0B1CB (gelap ke terang)
*/
*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: Lexend;
    background-color: #231942;
    color: #E0B1CB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.nav-left{
    display: flex;
    justify-content: flex-start;
    padding-left: 1.5em;
    transform: translateX(40px);
    animation: fadeSide 1s forwards;
}
.logo{
    width: 60px;
}
h3{
    padding-left: 0.5em;
    padding-top: 0.9em;
}
.nav-right{
    display: flex;
    justify-content: flex-end;
    padding-right: 3em;
    transform: translateX(50px);
    animation: fadeSide 1s forwards;
}
.nav-right .nav-item{
    text-decoration: none;
    color: #E0B1CB;
    margin-left: 20px;
    transition: color 0.3s ease-in-out;
}
.nav-right .nav-item:hover, .nav-right .nav-item:focus{
    color: whitesmoke;
}

.container{
    background: linear-gradient(#BE95C4, #E0B1CB);
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    margin: 5px;
    padding: 1em;
}
h1{
    font-size: 65px;
    font-family: Lexend;
}
hr{
    margin-left: 15px;
    margin-right: 15px;
}
.content{
    color:#231942;
    font-family: Lexend;
    padding: 20px;
    margin: auto;
}
.ulimg{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.limg{
    margin: 10px;
    transform: translateX(40px);
    animation: fadeInUp 1s forwards;
}
img{
    width: 250px;
}

footer{
    background-color: #231942;
    color: #9F86C0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-left{
    flex: 2;
}
.f-right{
    flex: 1;
    text-align: right;
}
a{
    text-decoration: none;
    color: #9F86C0;
}
.sosmed li{
    display: inline-block;
    margin-right: 10px;
}

@keyframes fadeSide{
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/*
.blob-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: rgb(255, 208, 0);
    border-radius: 50%;
    z-index: -1;
}
*/